.App {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.italic {
  font-style: italic;
}
html,body{
  overflow-x: hidden;
}