.account-page {
  padding: 25px;
  min-height: 70vh;
}

.nodisplay {
  display: none;
}

.profile-settings-display-edit {
  width: 65%;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 7px;
  padding: 25px 25px 50px 25px;
  position: relative;
}

.profile-settings {
  font-size: 16px;
}
.profile-item {
  margin-bottom: 7.5px;
}
.profile-item input {
  width: 60%;
  margin-right: 5px;
  padding-left: 5px;
}
.edit-user-prof-btn-save {
  background-color: #14c614;
  border: none;
  color: white;
  padding: 2px;
  width: 50px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 4px;
  margin-left: 5px;
  font-weight: 600;
}
.edit-user-prof-btn-save:hover {
  background-color: #de6d10;
}
.class-profile-span {
  font-size: 18px;
  margin-left: 15px;
  cursor: pointer;
}
.class-profile-span:hover {
  color: #1290eb;
}
.username-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.change-password-btn {
  background-color: #1290eb;
  border: none;
  color: white;
  padding: 5px 7px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 7px;
}
.edit-prof-btn {
  background-color: #1290eb;
  border: none;
  color: white;
  padding: 3px 4px;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 7px;
}
.logout-btn {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 7px;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 2px;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #de6d10;
}
.account-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 360px;
  padding: 5px;
  border-radius: 12px;
  margin: 0 auto;
}
.cant-rem-pw-hint {
  font-size: 7px !important;
  font-style: italic;
  max-width: 70%;
}
@media (max-width: 1000px) {
  .profile-settings-display-edit {
    width: 90%;
  }
  .change-password-btn {
    font-size: 11px;
    padding: 4px 5px;
  }
  .edit-prof-btn {
    font-size: 8px;
  }
  .logout-btn {
    font-size: 11px;
    padding: 4px 5px;
  }
  .profile-settings {
    font-size: 12px;
  }
  .edit-user-prof-btn-save,
  .edit-user-prof-btn-cancel {
    width: 40px;
    font-size: 9px;
  }
  .profile-item input {
    font-size: 10px;
  }
}
@media (max-width: 800px) {
  .profile-settings-display-edit {
    width: 80%;
  }
}
.account-tabs button {
  background-color: transparent;
  width: 175px;
  padding: 7px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.account-tabs button:hover {
  cursor: pointer;
}

.decks-account-btn.active,
.profile-account-btn.active {
  background-color: #1290eb;
  border-radius: 10px;
}

/**/
.account-decks {
  margin: 25px;
}

.decks-grid-wrapper {
  width: 100%;
}

.decks-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.deck-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  color: rgb(231, 231, 231);
  width: 275px;
  height: auto;
  overflow: visible;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: ease all 0.2s;
}

.deck-card:hover {
  box-shadow: 0 0 5px #1290eb;
  cursor: pointer;
  transform: scale(1.0275);
  z-index: 10;
}

.deck-card-img {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.cropped-mascot-card {
  position: absolute;
  top: -40%;
  left: -10%;
  width: 120%;
  height: auto;
  transform: scale(1);
  transform-origin: top left;
}

.secondary-mascot-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  overflow: hidden;
  z-index: 2;
  mask-image: linear-gradient(
    to right,
    /* to bottom right, */
    rgba(0, 0, 0, 1) 45%,
    rgba(0, 0, 0, 0) 55%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    /* to bottom right, */
    rgba(0,0,0,1) 45%,
    rgba(0,0,0,0) 55%
  );
}

.secondary-mascot-img {
  position: absolute;
  top: -40%;
  left: -10%;
  width: 120%;
  height: auto;
  transform: scale(1);
  transform-origin: top left;
}

.folder-label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: #1290eb;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 3px 6px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 0 3px black;
  width: 30%;
  text-wrap: nowrap;
  text-align: center;
}

.folder-label-list-version {
  position: absolute;
  bottom: 0;
  right: 3.5px;
  z-index: 2;
  background: #81c0ed;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 3px 6px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 15px;
  margin-bottom: 0.25rem;
  width: 20%;
  text-wrap: nowrap;
  text-align: center;
}

.deck-card-info {
  padding: .5rem;
  background: var(--info-bg);
}

.deck-card-info h3 {
  margin: 0 0 .25rem;
  font-size: 1.1rem;
  text-wrap: nowrap;
  overflow: hidden;
}

.saved-deck-hr {
  width: 75%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid rgba(128, 128, 128, 0.324);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 8px;
}

.deck-card-description {
  width: 95%;
  height: 35px;
  overflow: hidden;
}

.deck-card-info p {
  margin: 0 .25rem .5rem;
  font-size: .9rem;
  color: var(--text-muted);
}

.deck-card-info small {
  color: var(--text-muted);
}

.favorite-heart-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
}

.favorite-heart {
  margin-right: 7px;
  padding: 2px;
}

.menu-icon {
  padding: 2px;
  border-radius: 3px;
}

.menu-icon:hover {
  cursor: pointer;
  background-color: rgba(91, 91, 91, 0.25);
}

.decks-in-folder-options-sort-list-views {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.folder-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.folder-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.sort-favorites-btn {
  background-color: transparent;
  width: auto;
  padding: 10px 7px 7px 0;
  color: #1290eb;
  border: none;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: ease all 0.2s;
  margin-right: 15px;
}

.sort-favorites-btn:hover {
  cursor: pointer;
  color: rgb(219, 77, 77);
}

.sort-favorites-btn:hover p {
  text-decoration: underline;
}

.sort-favorites-btn span {
  margin-right: 5px;
  font-size: 16px;
}

.not-blue-p {
  font-size: 14px !important;
}
.menu-icon-wrapper {
  position: relative;
  display: inline-block;
}
.deckcollection-menu-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-91%);
  margin-top: 4px;
  min-width: 175px;
  display: flex;
  flex-direction: column;
  background: #2f3136;
  border: 1px solid grey;
  z-index: 100;
}

.deckcollection-menu-dropdown button {
  padding: 0.7rem 1rem;
  border: none;
  background: transparent;
  color: white;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.deckcollection-menu-dropdown button:hover {
  background: rgba(255, 255, 255, 0.185);
}

.deck-edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-edit-modal-box {
  background: var(--bg);
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
}

.deck-edit-modal-box h4 {
  margin-top: 0;
}

.deck-edit-modal-box input,
.deck-edit-modal-box textarea {
  width: 100%;
  margin-bottom: 1rem;
}

.deck-edit-modal-box button {
  margin-right: 0.5rem;
}

.deck-collection-modal-overlay,
.deck-collection-modal-overlay-again {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.deck-collection-modal-overlay {
  z-index: 1000;
}
.deck-collection-modal-overlay-again {
  z-index: 10005;
}

.deck-collection-modal-box {
  background-color: rgb(56, 62, 73);
  width: auto;
  min-width: 450px;
  padding: 25px;
  border-radius: 5px;
  color: rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 25px black;
}

.deck-collection-modal-box h4 {
  margin-bottom: 10px;
  font-size: 20px;
}
.deck-collection-modal-box label {
  margin-bottom: 35px;
}
.deck-collection-modal-box input,
.deck-collection-modal-box select,
.deck-collection-modal-box label {
  height: 25px;
  padding-left: 7px;
  width: 90%;
}

.deck-collection-modal-box textarea {
  width: 95%;
  height: 75px;
  padding: 10px;
}

.buttons-row-modal {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.buttons-row-modal button {
  margin-right: 5px;
  font-size: 15px;
  padding: 3.5px 5px;
  width: auto;
  min-width: 70px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 600;
}

.save-button {
  background-color: #1290eb;
}

.cancel-button {
  background-color: grey;
}

.preset-sort-folders-buttons button {
  background-color: #1290eb;
  border: 2px solid #1290eb;
  color: white;
  padding: 3px 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.preset-sort-folders-buttons span {
  font-size: 15px;
}

.sort-folders-list {
  list-style: none;
  font-size: 18px;
  width: 100%;
}

.sort-folders-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: rgb(80, 86, 97);
  border-radius: 4px;
  padding: 6px 15px;
}

.buttons-row-lineup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.sort-folders-list li div {
  min-width: 150px !important;
}

.order-folder-name {
  margin-right: 15px;
  border-radius: 2px;
  padding: 2px 5px;
}

.up-sort-btn,
.down-sort-btn {
  background-color: rgb(221, 229, 235);
  border: none;
  margin-left: 5px;
  font-size: 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.up-sort-btn:hover,
.down-sort-btn:hover,
.sort-opts-btn:hover {
  cursor: pointer;
  background-color: #1290eb;
  color: white;
}

.sort-opts-btn {
  background-color: rgb(221, 229, 235);
  border: none;
  margin-left: 5px;
  font-size: 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;

  color: rgb(75, 75, 75);

}

/* decklist view in account ONLY */
.card-modal-overlay-account {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.card-modal-content-account {
  transform: scale(1.35);

  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 10px;
  width: 60%;
  height: auto;
  max-width: 70%;
  max-height: 90%;
  padding: 15px;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  z-index: 10001;
}
/* .card-modal-content-account .deck-box {
  transform: scale(calc(1 / 1.35)) !important;
  transform-origin: top left;
} */
.card-modal-content-account p {
  font-size: 12px;
  margin-top: 2px;
}

.card-modal-content-account .deckbuilt-card-container:hover>.deck-add-minus>.pm-card {
  visibility: hidden !important;
}

.deck-modal-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 5px 0;
}

.deck-modal-actions div .favorite-heart {
  transform: scale(0.75);
  margin-left: -6.5px;
}

.deck-modal-actions .favorite-heart {
  font-size: 1.5rem;
  cursor: pointer;
}

.deck-modal-actions button {
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 0.65rem;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 600;
}

.deck-modal-actions button:hover {
  background: #1290eb !important;
}

.deck-modal-actions button.danger:hover {
  background: #ff0000 !important;
}

/**/
.folders-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.folders-bar-right-only {
  display: flex;
  justify-content: flex-end;
}
.viewing-other-profile-h2 {
  margin-bottom: 15px;
}

.create-new-deck-link-btn {
  border-radius: 3px;
  padding: 10px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.create-new-folder-btn span {
  font-size: 16px;
  margin-right: 8px;
}

.create-new-folder-btn {
  background-color: #1290eb;
  border-radius: 3px;
  padding: 10px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.organize-and-public-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.folder-options-icon {
  background-color: transparent;
  border-radius: 3px;
  padding: 10px 0;
  margin: -15px 15px 0 0;
  color: #1290eb;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.folder-options-icon span {
  font-size: 14px;
  margin-right: 5px;
}

.folder-options-icon:hover {
  color: rgb(219, 77, 77);
}

.folder-options-icon:hover p {
  text-decoration: underline;
}

.folders-list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.folders-list button:nth-child(1) {
  font-size: 14px;
  padding: 6px 7px;
}

.folders-list button {
  background-color: grey;
  width: auto;
  padding: 5px 6px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  min-width: 85px;
}

.folders-list button:hover {
  cursor: pointer;
}

.folders-list .active {
  background-color: #1290eb;
}


.decks-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.deck-list-item {
  display: flex;
  align-items: flex-start;
  padding: 8px;
  background: var(--savedDeckBg);
  border-radius: 4px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 45%;
}

.list-thumb-container {
  position: relative;
  overflow: hidden;
  width: 40%;
  height: 60px;
  border-radius: 5px;
}

.list-thumb {
  position: absolute;
  top: -85%;
  left: -10%;
  width: 120%;
  height: auto;
  transform: scale(1);
  transform-origin: top left;
}

.list-info {
  padding-left: 15px;
  width: 60%;
}

.list-info h3 {
  margin: 0;
  font-size: 1.1rem;
}

.list-info p {
  margin: 2px 0 0;
  font-size: .85rem;
  color: var(--text-muted);
}

.cropped-mascot-card.tagteam {
  top: -50%;
}

.cropped-mascot-card.ancient {
  top: -80%;
}

.cropped-mascot-card.break {
  transform: rotate(90deg);
  transform-origin: top left;
  left: 375px;
}

.cropped-mascot-card.legend {
  transform: rotate(90deg);
  transform-origin: top left;
  left: 300px;
  width: 85%;
}

.cropped-mascot-card.lugia {
  transform: rotate(90deg);
  transform-origin: top left;
  left: 315px;
  width: 85%;
  top: 0%;
}
.cropped-mascot-card.zoroark {
  top: -55%;
}

.list-thumb.ancient {
  top: -170%;
}

.list-thumb.break {
  transform: rotate(90deg);
  transform-origin: top left;
  left: 240px;
}

.list-thumb.legend {
  transform: rotate(90deg);
  transform-origin: top left;
  left: 195px;
  width: 100%;
}

.list-thumb.lugia {
  transform: rotate(90deg);
  transform-origin: top left;
  left: 260px;
  width: 100%;
  top: -35%;
}

.folder-visi-info p {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.public-link-spec {
  color: #1290eb
}
.folder-visi-info {
  font-size: 10px;
  margin-bottom: 25px;
}
.folder-visi-info span {
  font-size: 14px;
  margin-right: 7px;
}
.privacy-folder-list {
  list-style: none;
  margin-left: 25px;
}
.privacy-folder-item {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  padding: 2px 10px;
  border-radius: 2px;
}
.privacy-folder-item:hover {
  background-color: rgba(128, 128, 128, 0.25);
  cursor: pointer;
}
.privacy-folder-item .privacy-icon {
  font-size: 20px;
  color: grey;
}
.privacy-icon.active {
  color: #2196f3;
}
.privacy-folder-item .folder-name {
  margin-left: 7px;
}

.privacy-folder-item label input {
  margin-right: 10px;
}
.you-havent {
  text-align: center;
  margin-top: 25px;
}
@media (max-width: 1100px) {
  .card-modal-content-account {
    transform: scale(1.2);
    width: 100%;
  }

  .deck-add-minus {
    margin-bottom: 5px;
    width: 100% !important;
  }

  .current-cnt-num {
    width: 16px !important;
    height: 16px !important;
    font-size: 10px !important;
    border-radius: 3px;
  }

  .pm-card {
    display: none;
  }

  .deck-modal-actions div .favorite-heart {
    transform: scale(0.65);
  }

  .deck-modal-actions button {
    padding: 0.25rem 0.45rem;
    border-radius: 2px;
    margin-left: 5px;
    font-size: 0.5rem;
    font-weight: 500;
  }

  .deckbuilt-card-container {
    width: 50px !important;
    margin: 1px !important;
  }
  .database-card-in-list {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
    border-radius: 2px;
  }
}

@media (max-width: 1000px) {
  .account-decks {
    margin: 0px;
  }
  .viewing-other-profile-h2 {
    font-size: 20px;
  }
  .deck-card {
    border-radius: 5px;
    width: 175px;
  }
  .deck-card-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100px;

  }

  .decks-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 175px);
    justify-content: center;
    gap: 1rem;
  }

  .cropped-mascot-card {
    top: -30%;
    left: -10%;
    width: 120%;
  }

  .secondary-mascot-container {
    height: 100px;
  }

  .folder-label {
    font-size: 0.5rem;
    padding: 2px 6px;
    width: 30%;
  }

  .deck-card-info h3 {
    font-size: 0.8rem;
    margin-top: -8px;
  }

  .deck-card-description {
    width: 95%;
    height: 23px;
    overflow: hidden;
  }

  .deck-card-info p {
    font-size: .65rem;
  }

  .favorite-heart-container {
    margin-top: -15px;
  }

  .favorite-heart {
    margin-right: 0;
    padding: 1px;
    font-size: 1.25rem !important;
  }

  .menu-icon {
    padding: 1px;
    margin-right: -7.5px;
    font-size: 1.25rem !important;
  }

  .cropped-mascot-card.break {
    left: 235px;
    top: -38%;
  }

  .cropped-mascot-card.legend {
    left: 220px;
    width: 100%;
    top: -32%;
  }

  .cropped-mascot-card.lugia {
    left: 220px;
    width: 100%;
    top: 0%;
  }

  .deck-collection-modal-box {
    transform: scale(0.85);
  }

  .create-new-deck-link-btn {
    padding: 7.5px;
    font-size: 12px;
  }

  .create-new-folder-btn span {
    font-size: 12px;
    margin-right: 6px;
  }

  .create-new-folder-btn {
    padding: 7.5px;
    font-size: 12px;
  }

  .folders-list button:nth-child(1) {
    font-size: 11px;
    padding: 6px 7px;
  }

  .folders-list button {
    padding: 5px 6px;
    border-radius: 2px;
    font-size: 9px;
    min-width: 75px;
  }

  .folders-list .show-more-btn {
    background-color: transparent;
    border: none;
    color: #1290eb;
    padding: 0px;
    cursor: pointer;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: auto;
  }

  .folders-list .show-more-btn span {
    font-size: 11px;
    padding-right: 3px;
  }

  .sort-favorites-btn {
    padding: 10px 7px 7px 0;
    font-size: 10px;
    margin-right: 15px;
  }

  .sort-favorites-btn span {
    margin-right: 5px;
    font-size: 12px;
  }

  .not-blue-p {
    font-size: 10px !important;
  }

  .folder-options-icon {
    font-size: 10px;
  }

  .folder-options-icon span {
    font-size: 12px;
  }

  .account-tabs {
    transform: scale(0.75);
    margin-top: -15px;
    margin-bottom: 25px;
  }
}

@media (max-width: 700px) {
  .card-modal-content-account {
    transform: scale(1.2);
  }

  .deckbuilt-card-container {
    width: 40px !important;
  }
  .database-card-in-list {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    border-radius: 2px;
  }

  .deck-add-minus {
    margin-bottom: 6px;
  }

  .current-cnt-num {
    width: 12px !important;
    height: 12px !important;
    font-size: 8px !important;
    border-radius: 3px;
    margin-bottom: -5% !important; 
  }

  .card-modal-content-account h3 {
    font-size: 14px;
  }
  .card-modal-content-account p {
    font-size: 9px;
  }
  .deck-modal-actions {
    margin-bottom: -3px;
  }
  .deck-modal-actions button {
    padding: 0.175rem 0.35rem;
    border-radius: 1px;
    margin-left: 2.5px;
    font-size: 0.35rem;
  }
  .deck-box {
    border: 2px solid rgba(94, 94, 94, 0.5) !important;
  }
  .modal-close {
    font-size: 30px;
  }
}

@media (max-width: 550px) {
  .hide-on-mobile550 {
    display: none;
  }
  .folder-options button,
  .folder-options-icon {
    font-size: 9px;
  }
}
@media (max-width: 515px) {
  .hide-on515 {
    display: none;
  }
  .favorite-heart {
    margin-right: 0;
    padding: 1px;
    font-size: 1.45rem !important;
  }
  .move-small-deck-options-up515 {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 7.5px;
  }
  .deck-box {
    margin-top: 10px !important;
    padding: 7.5px;
  }
  .card-modal-content-account {
    padding: 7.5px;
    border-radius: 5px;
    transform: scale(1.35);
  }
  .deck-modal-actions {
    padding: 0 5px;
  }
  .deckbuilt-card-container {
    width: 37.5px !important;
  }
  .current-cnt-num {
    width: 11px !important;
    height: 11px !important;
  }
  .deck-collection-modal-box {
    width: auto;
    min-width: 450px;
    padding: 25px;
    border-radius: 5px;
    transform: scale(0.65);
  }
  .mobile-modal-box {
    width: auto;
    min-width: 1px;
    transform: scale(1);
    padding: 10px;
  }
  .small-deck-modal-options-brn-list {
    background-color: transparent !important;
    font-size: 10px !important;
    margin-bottom: 7.5px;
  }
}

@media (max-width: 450px) {
  .account-tabs {
    transform: scale(1);
    width: 75%;
    padding: 5px;
    border-radius: 12px;
  }
  .viewing-other-profile-h2 {
    font-size: 14px;
  }
  .account-tabs button {
    width: 120px;
    padding: 4px;
    font-size: 10px;
  }
  .deck-card {
      border-radius: 3px;
      width: 140px;
    }
    .decks-grid {
    grid-template-columns: repeat(auto-fill, 135px);
    gap: 1rem;
  }
  .folder-label {
    font-size: 0.45rem;
    padding: 2px 6px;
    width: 36%;
  }
  .deck-card-info h3 {
    font-size: 0.6rem;
    margin-top: -8px;
  }
  .deck-card-description {
    height: 18.5px;
  }
  .deck-card-info p {
    margin: 0 .25rem;
    font-size: .5rem;
  }
  .favorite-heart {
    margin-right: 3.5px;
    font-size: 1.1rem !important;
  }
  .menu-icon {
    font-size: 1.1rem !important;
  }
   .create-new-folder-btn {
    font-size: 9px;
  }
  .create-new-deck-link-btn,
  .create-new-folder-btn span {
    font-size: 9px;
  }
  .folders-list button:nth-child(1) {
    font-size: 9px;
    padding: 4px 5px;
  }
  .folders-list button {
    padding: 4px;
    font-size: 7px;
    min-width: 65px;
  }
  .folders-list .show-more-btn {
    font-size: 7.5px;
    padding-bottom: 3px;
  }
  .folders-list .show-more-btn span {
    font-size: 10px;
    padding-right: 1.5px;
  }
  .deck-card-img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .secondary-mascot-container {
    clip-path: none !important;
    overflow: visible !important;
  }
  .secondary-mascot-img {
    top: -29.5px;
  }
}
@media (max-width: 385px) {
  .folder-options button {
    font-size: 7px;
  }
}