.deck-table {
    height: 55px;
    margin-bottom: 5px;
}
.deck-table td img {
    height: 45px;
    width: auto;
}
.paddingfive {
    padding-left: 15px !important;
}
/* deck */
.deck-table th:nth-child(1) {
    padding-left: 0px !important;
}
.deck-table th:nth-child(4),
.deck-table th:nth-child(5),
.deck-table th:nth-child(6) {
    text-align: start;
}
.deck-table th:nth-child(1),
.deck-table td:nth-child(1) {
    width: 7%;
}
.deck-table td:nth-child(2),
.deck-table th:nth-child(2) {
    width: 0%;
}
.deck-table td:nth-child(3),
.deck-table th:nth-child(3) {
    width: 0%;
}
.deck-table td:nth-child(4),
.deck-table th:nth-child(4) {
    width: 50%;
}
.movesecondspritedecks {
    margin-left: -25px;
}
/* .deck-profile-table */
.deck-profile-table th:nth-child(1) {
    padding-left: 0px !important;
}
.deck-profile-table th:nth-child(4),
.deck-profile-table th:nth-child(5),
.deck-table th:nth-child(6) {
    text-align: start;
}
.deck-profile-table th:nth-child(1),
.deck-profile-table td:nth-child(1) {
    width: 20%;
}
.deck-profile-table td:nth-child(2),
.deck-profile-table th:nth-child(2) {
    width: 25%;
    padding-left: 0px;
}
.deck-profile-table td:nth-child(3),
.deck-profile-table th:nth-child(3) {
    width: 20%;
}
.deck-profile-table th:nth-child(3),
.deck-profile-table th:nth-child(5) {
    text-align: center;
    padding-left: 10px;
}
/* featured-decks-table */
.featured-decks-table th:nth-child(1) {
    padding-left: 0px !important;
}
.featured-decks-table th:nth-child(4),
.featured-decks-table th:nth-child(3) {
    text-align: start !important;
    padding-left: 5px;
}
.featured-decks-table td:nth-child(5),
.featured-decks-table th:nth-child(5) {
    text-align: center !important;
    padding-right: 15px !important;
}
.featured-decks-table th:nth-child(1),
.featured-decks-table td:nth-child(1) {
    width: 0%;
}
.featured-decks-table td:nth-child(2),
.featured-decks-table th:nth-child(2) {
    width: 0%;
}
.featured-decks-table td:nth-child(3) {
    width: 30%;
    text-align: start !important;
}
.featured-decks-table td:nth-child(4),
.featured-decks-table th:nth-child(4) {
    width: 50%;
}
.fontsource,
.fontsource a {
    font-size: 13px !important;
}
@media screen and (max-width: 950px) {
    .deck-table {
        height: 45px;
    }
    .deck-table td img {
        height: 40px;
        width: auto !important;
    }
    .fontsource,
    .fontsource a {
        font-size: 10px !important;
    }
    .featured-decks-table td:nth-child(3) {
        width: 45%;
    }
}
@media screen and (max-width: 450px) {
    .deck-table th:nth-child(1),
    .deck-table td:nth-child(1) {
        padding-left: 10px;
    }
    .deck-table {
        height: 35px;
    }
    .deck-table td img {
        width: 40px !important;
        height: auto;
    }
    .deck-table td {
        font-size: 9px;
    }
    .hideforfifty {
        display: none;
    }
    .results-table th:nth-child(2) {
        padding-left: 10px;
    }
    .movesecondspritedecks {
        margin-left: -15px;
    }
    .fontsource,
    .fontsource a {
        font-size: 7px !important;
    }
}