.player-results-container {
    width: 60%;
    min-width: 60%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}
.results-table {
    width: 100%;
    margin-bottom: 25px;
}
.results-table th {
    padding: 0 0 6px 0;
    font-size: 14px;
}
.divisionplacementopaque {
    opacity: 0.5;
}
.results-table th:nth-child(1),
.results-table th:nth-child(4),
.results-table th:nth-child(2) {
    text-align: start;
}
.results-table th:nth-child(2) {
    padding-left: 20px;
}
.results-table th:nth-child(1) {
    padding-left: 5px;
}
.results-table th:nth-child(3),
.results-table td:nth-child(3) {
    text-align: start;
}
.player-results-container .sprite:nth-child(1) {
    margin-left: 55px;
}
.results-table .second-sprite {
    margin-left: -28px;
    margin-right: -10px;
}
.player-results-container .results-table th:nth-child(3) {
    padding-right: 15px;
}
.results-table th:nth-child(4) {
    text-align: center;
}
.results-table td {
    padding: 2px 5px;
    height: 40px !important;
    text-align: start;
}
.center-content {
    display: flex;
    align-items: center;
}
.center-content a {
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.flag-size-player {
    width: 23px;
    height: auto;
    margin-right: 10px;
}
.bts-in img {
    width: 27px;
    height: auto;
    padding-left: 15px;
}
.bts-in h1 {
    font-size: 24px;
    padding: 10px 0;
    color: #FFF;
}
.event-type-logo3 {
    width: 35px;
    height: auto;
    margin-right: 10px;
}
.sort-buttons {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    margin-top: 15px;
}
.playermayhavemore {
    margin: -10px 0 15px 0;
    font-size: 14px;
    opacity: 0.5;
}
.sort-buttons button {
    background-color: #1290eb;
    padding: 7px 10px;
    border-radius: 2px;
    border: none;
    color:#fff;
    margin-right: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
}
.sort-buttons button:hover {
    background-color: #4b4e50;
    cursor: pointer;
}
.player-results-container .sprite {
    width: 50px;
    height: auto;
}
.meep .results-table th:nth-child(1),
.meep .results-table td:nth-child(1) {
    width: 30%;
    padding-right: 50px;
    white-space: nowrap;
    overflow: hidden;
}
.results-table td:nth-child(2),
.results-table th:nth-child(2) {
    width: 100%;
}
.results-table td:nth-child(3),
.results-table th:nth-child(3) {
    width: 10%;
}
.results-table td:nth-child(4),
.results-table th:nth-child(4) {
    width: 32%;
}
.small-text-info {
    font-size: 12px;
}
.center-error {
    height: 50vh;
}
@media screen and (max-width: 1600px) {
    .player-results-container {
        width: 70%;
    }
}
@media screen and (min-width: 1000px) {
    .unknown-player-txt-wdth {
        width: 750px;
    }
}
@media screen and (max-width: 999px) {
    .unknown-player-txt-wdth {
        width: 70%;
    }
}
@media screen and (max-width: 600px) {
    .unknown-player-txt-wdth {
        width: 100%;
    }
}
@media screen and (max-width: 1350px) {
    .player-results-container {
        width: 80%;
    }
    .playerprofilecontainer table {
        width: 90%;
    }
}
@media screen and (max-width: 1200px) {
    .player-results-container {
        width: 85%;
    }
}
@media screen and (max-width: 1115px) {
    .sort-buttons button {
        font-size: 13px;
    }
    .bts-in h1 {
        font-size: 18px;
    }
}
@media screen and (max-width: 1000px) {
    .center-error {
        height: 50vh;
        margin-bottom: 150px;
    }
}
@media screen and (max-width: 950px) {
    .player-results-container th {
        font-size: 12px;
    }
    .player-results-container td {
        font-size: 13px;
    }
    .flag-size-player {
        width: 20px;
    }
    .event-type-logo3 {
        width: 32px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 800px) {
    .meep {
        width: 100%;
    }
    .results-table th:nth-child(1),
    .results-table td:nth-child(1) {
        padding-left: 15px;
    }
    .sort-buttons {
        margin-left: 15px;
    }
}
@media screen and (max-width: 700px) {
    .player-results-container {
        width: 100%;
    }
    .filters-top {
        margin-left: 25px;
    }
    .meep th {
        font-size: 10px;
    }
    .meep td {
        font-size: 11px;
    }
    .event-type-logo3 {
        width: 30px;
    }
    .meep .results-table th:nth-child(1),
    .meep .results-table td:nth-child(1) {
        width: 30%;
        padding-right: 0px;
    }
    .meep .results-table td:nth-child(2),
    .meep .results-table th:nth-child(2) {
        padding-right: 50px;
    }
}
@media screen and (max-width: 600px) {
    .meep th,
    .meep td {
        font-size: 10px !important;
    }
        .sort-buttons button {
            font-size: 11px;
        }
    .bts-in h1 {
        font-size: 16px;
    }
    .bts-in img {
        width: 23px;
    }
    .player-results-container .sprite {
        width: 44px;
    }
    .player-results-container .material-symbols-outlined {
        font-size: 22px;
    }
    .playermayhavemore {
        margin: -25px 0 15px 0;
        font-size: 10px;
    }
}
@media screen and (max-width: 550px) {
    .meep .results-table th:nth-child(1),
    .meep .results-table td:nth-child(1) {
        width: 30%;
        padding-right: 0px;
    }
    .results-table td:nth-child(2),
    .results-table th:nth-child(2) {
        width: 100%;
    }
    .results-table td:nth-child(3),
    .results-table th:nth-child(3) {
        width: 10%;
    }
    .results-table td:nth-child(4),
    .results-table th:nth-child(4) {
        width: 32%;
    }
    .player-results-container .sprite:nth-child(1) {
        margin-left: 0px;
    }
    .results-table .second-sprite {
        margin-left: -24px;
        margin-right: -10px;
    }
}
@media screen and (max-width: 530px) {
    .player-results-container th {
        font-size: 10px;
    }
    .player-results-container td {
        font-size: 12px;
    }
    .flag-size-player {
        width: 16px;
    }
}
@media screen and (max-width: 480px) {
    .meep th {
        font-size: 8px !important;
    }
    .meep td {
        font-size: 9px !important;
    }
    .player-results-container .sprite {
        width: 40px;
    }
    .player-results-container .material-symbols-outlined {
        font-size: 18px;
    }
}
@media screen and (max-width: 450px) {
    .results-table th:nth-child(1),
    .results-table td:nth-child(1) {
        padding-left: 5px;
    }
    .event-type-logo3 {
        width: 25px;
    }
    .white-link {
        padding-left: 5px !important;
    }
}
@media screen and (max-width: 430px) {
    .player-results-container th {
        font-size:8px;
    }
    .player-results-container td {
        font-size: 11px;
    }
    .meep td:nth-child(1) {
        font-size: 7px !important;
    }
    .flag-size-player {
        width: 14px;
    }
    .results-table td {
        padding: 2px 0;
    }
    .meep .results-table td:nth-child(2),
    .meep .results-table th:nth-child(2) {
        padding-right: 0px;
    }
}