.player-results-container {
    width: 60%;
    min-width: 60%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}
.results-table {
    width: 100%;
}
.results-table th {
    text-align: start;
    padding: 0 0 6px 0;
    font-size: 14px;
}
.results-table th:nth-child(2) {
    padding-left: 20px;
}
.results-table th:nth-child(1),
.results-table th:nth-child(3) {
    padding-left: 5px;
}
.results-table th:nth-child(4) {
    padding-left: 15px;
}
.results-table td {
    padding: 2px 5px;
    height: 40px !important;
    text-align: start;
}
.center-content a {
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.results-table td a:hover {
    color: #1290eb !important;
}
.center-content img {
    width: 23px;
    height: auto;
}
.bts-in img {
    width: 27px;
    height: auto;
    padding-left: 15px;
}
.bts-in h1 {
    font-size: 24px;
    padding: 10px 0;
}
.results-table .second-sprite {
    margin-left: -28px;
}