.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
.center-column p {
    font-size: 12px;
    margin-top: 10px;
    font-style: italic;
}
.collapse-bts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.era-header {
    width: 75%;
    border: none;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 25px 50px;
}
.era-header:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.era-rule-title {
    font-size: 18.5px;
}
.era-header .material-symbols-outlined {
    font-size: 34px;
}
.era-rules-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.era-specific-rules {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.era-specific-rules ul {
    padding: 10px 15px;
}
.era-specific-rules ul li {
    margin-bottom: 2.5px;
    text-align: start;
}
.era-specific-rules ul li span {
    text-align: start !important;
}
.center-rules {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.center-rules p {
    margin-bottom: 7.5px;
}
.fun-condition-icon {
    font-size: 12px !important;
}
.paralyzed-condition {
    color: rgb(239, 211, 0);
}
.poisoned-condition {
    color: green;
}
.confused-condition {
    color: purple;
}
.sleep-condition {
    color: rgb(0, 115, 255);
}
.burned-condition {
    color: red;
}
.padding-top {
    padding-top: 10px;
}
.padding-bottom {
    padding-bottom: 10px;
}
.weakness-hr {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.5);
    width: 80%;
}
.sub-list {
    list-style: none;
    padding: 0 0 10px 15px !important;
}
.a-new-color {
    padding: 25px 0 0;
}
.a-new-color {
    display: flex;
    align-items: center;
}
.a-new-color .material-symbols-outlined {
    font-size: 20px;
    margin-right: 7.5px;
}
.highlight {
  background-color: rgba(128,128,128,0.3);
  border-radius: 2px;
  padding: 0 4px;
}
.rules-set-link {
    color: #1290eb;
}
@media screen and (max-width: 1200px) {
    .weakness-hr {
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .era-header {
        width: 78%;
        padding: 15px 25px;
    }
    .era-rule-title {
        font-size: 15px;
    }
    .era-header .material-symbols-outlined {
        font-size: 28px;
    }
}
@media screen and (max-width: 750px) {
    .era-header {
        width: 85%;
    }
}
@media screen and (max-width: 600px) {
    .era-rule-title {
        font-size: 12px;
    }
    .era-header .material-symbols-outlined {
        font-size: 21px;
    }
    .era-header {
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 10px 15px;
    }
    .era-specific-rules strong {
        font-size: 10px;
    }
    .era-specific-rules p,
    .era-specific-rules span,
    .sub-list {
        font-size: 10px;
    }
    .center-column h2 {
        font-size: 18px;
    }
    .center-column p {
        font-size: 8px;
        margin-top: 5px;
    }
}