.ultra-ball-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.ultra-ball-spinner img {
  animation: spin 1s linear infinite;
  width: 64px;
  height: 64px;
}
@keyframes spin {
  from   { transform: rotate(0deg); }
  to     { transform: rotate(360deg); }
}