.set-par {
  background: url('../assets/sets/scarlet-violet/artwork/paradox-rift.jpg') no-repeat center;
  background-size: auto 100%;
}
.set-svi {
  background: url('../assets/sets/scarlet-violet/artwork/scarlet-violet.png') no-repeat center;
  background-size: auto 100%;
}