.card-modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
/* modal “window” */
.card-modal-content {
  background: rgba(25, 26, 30, 0.65);
  border-radius: 8px;
  border: 3px solid grey;
  width: 50%;
  height: 75%;
  max-width: 70%;
  max-height: 90%;
  overflow-y: auto;
  padding: 15px;
  position: relative;
  color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
/* close “×” button */
.modal-close {
  position: absolute;
  top: 0px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 48px;
  cursor: pointer;
  color: white;
}
.modal-close:hover {
  color: #1290eb;
}
.modal-retreat-cost {
    margin-bottom: 7px;
}
/* large card image */
.card-modal-image {
  width: 42%;
  height: auto;
  margin-bottom: 1rem;
  margin: 0 auto 1rem;
  display: block;
}
/* details section */
.card-details {
  margin-bottom: 1rem;
}
.card-details h2 {
  margin-bottom: 5px;
  font-size: 24px;
}
.card-details p { 
  margin-bottom: 7px;
  font-size: 16px;
}
/* plus/minus controls */
.modal-count-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.modal-count-controls button {
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 2px;
  border: none;
}
.modal-count-controls button:hover {
  cursor: pointer;
  background-color: #1290eb;
  color: white;
}
.modal-count {
  font-size: 1.2rem;
}
.zoomed-card-db-hr {
    width: 20%;
    margin: 10px 0;
    opacity: 0.5;
}
.modal-rules ul {
    list-style: none;
}
.modal-rules li {
    margin: 10px 0;
}
.bottom-db-modal-bts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}
.bottom-db-modal-bts button {
    font-size: 16px;
    border: 1px solid grey;
    height: 40px;
    width: 200px;
    border-radius: 2px;
    background-color: #1290eb;
    color: white;
    font-weight: 600;
}
.bottom-db-modal-bts button:hover {
    cursor: pointer;
    background-color: grey;
}
.bottom-db-modal-bts .tcgplayer-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.bottom-db-modal-bts .tcgplayer-btn__icon {
  width: auto;
  height: 90%;
}
/*************************/
.deck-builder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.card-search-container {
    width: 40%;height:100%;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='59.428' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M0 70.975V47.881m20-1.692L8.535 52.808v13.239L20 72.667l11.465-6.62V52.808zm0-32.95l11.465-6.62V-6.619L20-13.24 8.535-6.619V6.619L20 13.24m8.535 4.927v13.238L40 38.024l11.465-6.62V18.166L40 11.546zM20 36.333L0 47.88m0 0v23.094m0 0l20 11.548 20-11.548V47.88m0 0L20 36.333m0 0l20 11.549M0 11.547l-11.465 6.619v13.239L0 38.025l11.465-6.62v-13.24L0 11.548v-23.094l20-11.547 20 11.547v23.094M20 36.333V13.24'  stroke-linecap='square' stroke-width='1' stroke='hsla(259, 0%, 100%, 0.34)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"), linear-gradient(to bottom, rgb(183, 189, 199), rgb(156, 158, 163));
    z-index: 0;
    position: relative;
}
.card-search-container.darkon {
    width: 40%;height:100%;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='59.428' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M0 70.975V47.881m20-1.692L8.535 52.808v13.239L20 72.667l11.465-6.62V52.808zm0-32.95l11.465-6.62V-6.619L20-13.24 8.535-6.619V6.619L20 13.24m8.535 4.927v13.238L40 38.024l11.465-6.62V18.166L40 11.546zM20 36.333L0 47.88m0 0v23.094m0 0l20 11.548 20-11.548V47.88m0 0L20 36.333m0 0l20 11.549M0 11.547l-11.465 6.619v13.239L0 38.025l11.465-6.62v-13.24L0 11.548v-23.094l20-11.547 20 11.547v23.094M20 36.333V13.24'  stroke-linecap='square' stroke-width='1' stroke='hsla(259, 0%, 100%, 0.15)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"), linear-gradient(to top right, rgb(0, 0, 0),rgb(47, 47, 47));
}
.event-searchbar {
    padding: 0px 0px 0px 20px;
    height: 9.1vh;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to bottom, rgb(28, 28, 28), rgb(50, 51, 53));
    box-shadow: -10px 2px 5px rgb(0, 0, 0);
}
.search-mag {
    margin-right: 10px;
    color: white;
    margin-top: 35px;
}
.event-searchbar input {
    font-size: 18px;
    width: 40%;
    padding: 1px 10px 2px 5px;
    margin-top: 35px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    letter-spacing: 1px;
}
.event-searchbar input:focus{
    outline: none;
}
.hidden-filter-sec {
    height: 10vh;
    width: 100%;
    background: linear-gradient(to top, rgb(28, 28, 28), rgb(50, 51, 53));
    border-right: 2px solid black;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 2px 5px rgb(0, 0, 0);
}
.hide-filt-sec {
    display: flex;
}
.hidden-filter-top,
.hidden-filter-bottom {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.hidden-filter-bottom {
    margin-top: 10px;
}
.hidden-filt-btns {
    background-color: white;
    padding: 5px 15px;
    width: 17%;
    text-align: center;
    border-radius: 5px;
    transition: ease all 0.2s;
    font-weight: 400;
    font-size: 16px;
    border-radius: 7.5px;
}
#filt-btn-pokemon,
#filt-btn-trainer,
#filt-btn-energy {
    border: 1px solid black;
}
#filt-btn-standard {
    border: 1px solid rgb(43, 149, 255);
}
#filt-btn-expanded {
    border: 1px solid rgb(255, 51, 51);
}
#filt-btn-legacy {
    border: 1px solid rgb(0, 151, 0);
}
#filt-btn-pokemon:hover,
#filt-btn-trainer:hover,
#filt-btn-energy:hover {
    cursor: pointer;
    background-color: rgb(216, 216, 216);
}
#filt-btn-standard:hover {
    cursor: pointer;
    background-color: rgb(206, 234, 255);
}
#filt-btn-expanded:hover {
    cursor: pointer;
    background-color: rgb(255, 220, 220);
}
#filt-btn-legacy:hover {
    cursor: pointer;
    background-color: rgb(232, 255, 226);
}
.all-cards-container {
    width: 100%;
    height: 90.5vh;
    overflow-y: scroll;
    border-bottom: 1000px solid rgb(27, 27, 27);
}
.all-cards-farther {
    height: 72vh;
}
.all-cards-container::-webkit-scrollbar {
    width: 12px;
}
.all-cards-container::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #bcbccc;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3), 0 2px 2px black;
    margin-top: -60px;
}
.all-cards-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(58, 58, 58);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3);
    ;
}
.all-cards-container.darkon::-webkit-scrollbar-track {
    background-color: #272d34;
    border: 1px solid #121212;
}
.all-cards-container.darkon::-webkit-scrollbar-thumb {
    background-color: rgb(218, 221, 230);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.86);
}
.all-cards-displayed {
    width: 95%;
    padding: 10px 10px 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.searched-card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
    transition: ease all 0.3s;
    width: 5.5vw;
    position: relative;
}
.all-cards-displayed img {
    width: 5.5vw;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.searched-card-wrap:hover {
    transform: scale(1.1);
}
.add-card-to-deck {
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    padding: 16px;
    font-size: 23px;
    background: rgba(0, 0, 0, 0.82);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    content: "+";
    width: 10px;
    height: 10px;
    position: absolute;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.681);
    transition: ease all 0.2s;
}
.add-card-to-deck::before {
    content: "+";
    font-weight: 600;
}
.add-card-to-deck:hover {
    background-color: rgb(255, 255, 255);
    color:black;
    cursor: pointer;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
}

#zoomed-bg {
    position: fixed;
    z-index: 1999;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.9);

    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: all ease 0.3s;
}
#zoomed-bg.show {
    display: flex;
}
#zoomed-bg img {
    height: 75%;
    width: auto;
    object-fit: cover;
}
.zoomed-add-minus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin-top: 25px;
}
@media screen and (max-width: 1500px) {
    .zoomed-add-minus {
        width: 40%;
    }
}
@media screen and (max-width: 1100px) {
    .zoomed-add-minus {
        width: 50%;
    }
}
@media screen and (max-width: 800px) {
    .zoomed-add-minus {
        width: 60%;
    }
}
.zoomed-cnt-num {
    width: 100px !important;
    height: 100px !important;
    background-color: black;
    border-radius: 50%;
    padding: 2px;
    pointer-events: none;
    z-index: 2;
}
.zoomed-plus,
.zoomed-minus {
    font-size: 36px !important;
    background-color: rgb(46, 48, 67);
    margin-bottom: 5px;
    color: white;
    padding: 20px;
    border-radius: 15px;
    border: 2.5px solid white;
}
.deckbuilt-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 3px;
    transition: ease all 0.3s;
}
.deckbuilt-card-container:hover {
    transform: scale(1.05)
}
.database-card-in-list {
    /* if 27 or less */
    /* width: 115px; */

    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    border-radius: 4px;

    /* if 28 or more */
    width: 6vw;
}
.database-card-in-list:hover {
    cursor: pointer;
}
.deck-box.shrink-cards .database-card-in-list,
.deck-box.shrink-cards .deckbuilt-card-container {
  width: 4vw;
}
.deck-box.shrink-cards .current-cnt-num {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    font-size: 14px;
}
.deck-box.shrink-cards .deck-add-minus {
    margin-bottom: 5px;
    width: 4vw;
}
.deck-box.shrink-cards .pm-card {
    height: 20px;
    width: 20px;
}
.deck-add-minus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    /* transition: ease all 0.3s; */
    position: absolute;

    /* if 27 or less */
    /* width: 115px; */

    /* if 28 or more */
    width: 6vw;
}
.pm-card {
    /* if 27 or less */
    /* padding: 5px; */

    /* if 28 or more */
    padding: 4px;
    
    visibility: hidden;
    font-size: 16px;
    background-color: #1290eb;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.4);
    font-weight: 600;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    height: 30px;
    width: 30px;
}
.deckbuilt-card-container:hover > .deck-add-minus > .pm-card {
    visibility: visible !important;
}
.pm-card:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color:black;
}
.current-cnt-num {
        /* if 27 or less */
        /* width: 37px; */

        /* if 28 or more */
        width: 25px;
    height: 25px;
    background: rgba(0, 0, 0, 0.82);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    pointer-events: none;
    z-index: 2;
}
.active-deck-container {
    width: 60%;height:auto;
}
.deck-build-options {
    height: 9.2vh;width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.all-options-box {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(28, 28, 28), rgb(50, 51, 53));
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}
.all-options-box.darkon {
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}
.options-left {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.options-row {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.option-btn {
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(213, 213, 213);
    display: inline-block;
    padding: 17px 0;
    text-align: center;
    background-image: linear-gradient(rgb(154, 176, 210) 0 0);
    background-position: 0 100%;
    background-size: 0% 3px;
    background-repeat: no-repeat;
    transition:
      background-size 0.35s,
      background-position 0s 0.35s;
}
.option-btn:hover {
    color: rgb(255, 255, 255);
    background-position: 100% 100%;
    background-size: 100% 3px;
    cursor: pointer;
}
.option-btn p {
    margin-left: 5px;
}
.deck-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 33px 0;
}
.support-again {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.support-again img {
    width: 20px;height:auto;
    margin-left: 7px;
    border-radius: 5px;
    border: 1px solid black;
    filter: grayscale(0.3);
}
.stat-count {
    color: black;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    border: 1px solid black;
    padding: 5px 7px 5px 10px;
    transition: ease all 0.2s;
    font-weight: 400;
    font-size: 16px;
    border-radius: 4px;
    width: 125px;
    overflow: hidden;
}
.current-deck-count {
    font-weight: 600;
    margin-left: 3px;
}
#deck-reset,
#deck-sort,
.support-again {
    color: rgb(232, 232, 232);
    background-color: rgb(22, 22, 22);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    border: 1.5px solid grey;
    padding: 5px 7px;
    transition: ease all 0.2s;
    font-weight: 400;
    font-size: 16px;
    border-radius: 25px;
    padding: 5px 15px;
}
#deck-reset,
#deck-sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
#deck-reset span,
#deck-sort span {
    font-size: 18px;
    margin-right: 5px;
}
#deck-reset span {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#deck-reset:hover,
#deck-sort:hover,
.support-again:hover {
    background-color: #1290eb;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.deck-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    /* position: relative; */
}
.deck-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.spinner-icon {
  font-size: 3rem;
  color: #1290eb;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
.expand-advanced {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(to bottom left, rgba(214, 216, 226, 0.9), rgba(103, 139, 175, 0.9));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 18px !important;
    font-weight: 600;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: -3px 2px 5px rgb(2, 1, 27);
    position: absolute;
    z-index: 5;
    transition: ease all 0.5s;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    margin-top: -86vh;
}
.expand-advanced::-webkit-scrollbar { /* Chrome */
    display: none;
}
.expand-advanced.darkon {
    background-image: linear-gradient(to top left, rgba(16, 17, 18, 0.9), rgba(26, 30, 40, 0.9));
}
.inverted-arrow {
    transform: rotate(180deg);
}
.collapse-advanced {
    margin-top: 0px;
}
#advanced-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0 10px 50px;
}
#advanced-content h2 {
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.advanced-p-btn {
    color:white;
    background-image: linear-gradient(to bottom right, rgba(9, 33, 66, 0.9),rgba(29, 83, 159, 0.9));
    width: 100%;
    padding: 7px 0;
    text-align: center;
    transition: ease all 0.2s;
    cursor: pointer;
    border-top: 2px solid black;
    z-index: 1000;
}
.advanced-p-btn:hover {
    background-image: linear-gradient(to top left, rgb(157, 172, 192), rgb(137, 139, 147));
}
.expand-advanced span {
    position: absolute;
}
.search-open {
    overflow: auto;
}
.set-white-box {
    border: 1px solid black;
    height: 35px;
    margin-top: 5px;
    border-radius: 5px;
}
.set-white-box:hover {
    background-color: rgb(235, 235, 235);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.set-white-box.darkon {
    background-color: rgb(223, 226, 230);
    color: black;
}
.set-white-box.darkon:hover {
    background-color: rgb(255, 255, 255);
}
.set-white-box.darkon:after {
    color: black;
}
.hello {
    background-color: rgb(186, 186, 186);
}
.country-name-global {
    transition: ease all 0.2s;
}
.set-white-box:hover > .country-name-global > .set-logo0,
.set-white-box:hover > .country-name-global > .set-logo,
.set-white-box:hover > .country-name-global > .set-logo2,
.set-white-box:hover > .country-name-global > .set-logo3,
.set-white-box:hover > .country-name-global > .set-logo4,
.set-white-box:hover > .country-name-global > .set-logo5 {
    transform: scale(1.1);
}
.set-logo0 {
    height: 30px;
    width: auto;
    margin-left: 0px;
}
.set-logo {
    height: 23px;
    width: auto;
    margin-left: 0px;
}
.set-logo2 {
    height: 15px;
    width: auto;
    margin-left: 0px;
}
.set-logo3 {
    height: 20px;
    width: auto;
    margin-left: 0px;
}
.set-logo4 {
    height: 35px;
    width: auto;
    margin-left: 0px;
}
.set-logo5 {
    height: 28px;
    width: auto;
    margin-left: 0px;
}
.set-cube,
.set-cube-promo {
    height: 120px;
    width: 109px;
}
.set-cube.darkon p ,
.set-cube-promo.darkon p {
    background-color: rgba(255, 255, 255, 0.5);
}
.setit {
    width: 70px;
    height: auto;
    margin-top: -5px;
}
.setit2 {
    width: 50px;
    height: auto;
    margin-top: -5px;
}
.pogo {
    width: 50px;
    height: auto;
    margin-top: -5px;
}
.set-organizer {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0px;
    margin-left: -50px;
}
.worlds-icons {
    width: 90%;
    margin-left: -50px;
}
.worlds-box, .other-cont-box {
    margin: 5px;
}
.worlds-box img {
    width: 100px;
    height: 60px;
}
.worlds-box p {
    font-size: 12px;
    margin-top: 3px;
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 5px;
    padding: 5px;
    transition: ease all 0.15s;
}
#searchButton {
    background-color: white;
    margin: 35px 0 0 -5px;
    font-size: 16px;
    padding: 3px 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
    border-right: none;
    border-top: none;
    border-bottom: none;
}
#filter-search,
#search-reset {
    background-color: white;
    margin: 35px 0 0 10px;
    font-size: 16px;
    padding: 3px 7px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
}
#filter-search span {
    font-size: 18px;
    margin-left: 5px;
}
#search-reset span {
    font-size: 18px;
    margin-right: 5px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#searchButton:hover,
#filter-search:hover,
#search-reset:hover,
.blue-selected {
    cursor: pointer;
    background-color: rgb(106, 109, 130) !important;
    color:white;
}
.copied-check,
.copied-json-check {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color:white;
    width:85px;height:85px;
    border-radius: 50%;
    z-index: 50;
    display: none;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
}
/* .copied-check {
    background-color: rgb(19, 145, 19);
} */
.copied-check,
.copied-json-check {
    background-color: rgb(23, 133, 197);
}
.copied-check span,
.copied-json-check span {
    font-size: 48px;
    font-weight: 600;
}

/**/

@media screen and (min-width: 2300px) {
    .add-card-to-deck {
        margin-top: 110px;
        font-size: 30px;
        width: 20px;height: 20px;
    }
    .deck-add-minus {
        margin-top: 125px;
    }
    .pm-card {
        padding: 8px;
        font-size: 22px !important;
    }
}
@media screen and (max-width: 1550px) {
    .searched-card-wrap {
        width: 6.5vw;
    }
    .all-cards-displayed {
        width: 100%;
    }
    .all-cards-displayed img {
        width: 6.5vw;
    }
    .event-searchbar input {
        font-size: 16px;
        width: 35%;
    }
    #searchButton {
        font-size: 14px;
        padding: 2px 8px;
    }
    #filter-search,
    #search-reset {
        font-size: 14px;
        padding: 2px 7px;
    }
}
@media screen and (max-width: 1400px) {
    .event-searchbar input {
        font-size: 16px;
        width: 32%;
    }
    .all-cards-displayed {
        padding: 10px 0 50px 20px;
    }
}
@media screen and (max-width: 1310px) {
    .event-searchbar input {
        font-size: 16px;
        width: 32%;
    }
}
@media screen and (max-width: 1260px) {
    .event-searchbar {
        padding: 0 0 0 5px;
    }
    .search-mag {
        margin-right: 5px;
        margin-top: 35px;
    }
    .all-cards-displayed {
        padding: 10px 0 50px 15px;
    }
    .deck-stats {
        padding: 10px 18px 0;
    }
    #deck-reset, 
    #deck-sort {
        margin-left: 8px;
        font-size: 14px;
    }
    .support-again {
        font-size: 14px;
    }
    .support-again img {
        width: 16px;
    }
    .stat-count {
        padding: 5px 7px 5px 10px;
        font-size: 14px;
        width: 110px;
    }
}
@media screen and (max-width: 1200px) {
    #filter-search,
    #search-reset {
        margin: 35px 0 0 5px;
    }
}

/****************************************************************************************/
/* MOBILE */

.bottom-menu {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgb(28, 28, 28), rgb(50, 51, 53));
    color: white;    
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1000;
    display: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid black;
}
/* .bottom-menu.darkon {
    background: linear-gradient(to top, rgb(28, 28, 28), rgb(50, 51, 53));
} */
#btm-search-line {
    border: 2px solid rgb(224, 224, 224);
    border-radius: 5px;
    width: 75px;
    margin-bottom: 10px;
}
.btm-menu-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hidden-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    transition: transform 0.3s ease;
    z-index: 100;
    transform: translateY(100%);
}
.hidden-menu.active {
    transform: translateY(0%);
}
.hidden-menu-content {
    position: absolute;
    /* top: 80px; for if the nav still needs to be shown */
    top: 0;
    left: 0;
    width: 96.5%;
    height: 99%;
    /* height: calc(100% - 90px); */
    background-color: black;
    color: white;
    padding: 20px;
    overflow-y: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 1000;
}

@media screen and (max-width: 1160px) {
    body {
        background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
    }
    body.darkon {
        background-image: linear-gradient(to bottom, #2b2b2b, #2b2b2b);
    }
    .deck-builder {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-search-container {
        display: none;
    }
    .active-deck-container {
      background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='60' height='60' patternTransform='scale(1) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M29.998 26.65v6.693zm-6.837 3.347h3.488zm10.185 0h3.489zm0 0a3.349 3.346 0 01-3.348 3.346 3.349 3.346 0 01-3.349-3.346 3.349 3.346 0 013.349-3.346 3.349 3.346 0 013.348 3.346zm-3.173-6.832c-1.978-.032-3.976.786-5.29 2.287-1.986 2.163-2.275 5.629-.727 8.113 1.45 2.442 4.522 3.736 7.287 3.116 3.067-.607 5.45-3.561 5.392-6.684.045-2.643-1.642-5.173-4.042-6.245a6.489 6.489 0 00-2.62-.587zM59.995 52.87v14.25zm-14.557 7.125h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zm-6.757-14.547c-4.212-.069-8.465 1.673-11.262 4.869-4.23 4.606-4.845 11.985-1.55 17.274 3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249zM-.005 52.87v14.25zm-14.557 7.125h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zM.368 45.447c-4.212-.069-8.465 1.673-11.262 4.869-4.23 4.606-4.845 11.985-1.55 17.274 3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249zM59.995-7.13V7.12zM45.438-.006h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zm-6.757-14.547c-4.212-.069-8.465 1.673-11.262 4.869C44.876-5.078 44.26 2.3 47.556 7.59c3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249zM-.005-7.13V7.12zM-14.562-.006h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zM.368-14.553c-4.212-.069-8.465 1.673-11.262 4.869-4.23 4.606-4.845 11.985-1.55 17.274 3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249z'  stroke-width='0.5' stroke='hsla(259, 0%, 80%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"), linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)); 
       width: 100%;
    }
    .active-deck-container.darkon {
        background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='60' height='60' patternTransform='scale(1) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M29.998 26.65v6.693zm-6.837 3.347h3.488zm10.185 0h3.489zm0 0a3.349 3.346 0 01-3.348 3.346 3.349 3.346 0 01-3.349-3.346 3.349 3.346 0 013.349-3.346 3.349 3.346 0 013.348 3.346zm-3.173-6.832c-1.978-.032-3.976.786-5.29 2.287-1.986 2.163-2.275 5.629-.727 8.113 1.45 2.442 4.522 3.736 7.287 3.116 3.067-.607 5.45-3.561 5.392-6.684.045-2.643-1.642-5.173-4.042-6.245a6.489 6.489 0 00-2.62-.587zM59.995 52.87v14.25zm-14.557 7.125h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zm-6.757-14.547c-4.212-.069-8.465 1.673-11.262 4.869-4.23 4.606-4.845 11.985-1.55 17.274 3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249zM-.005 52.87v14.25zm-14.557 7.125h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zM.368 45.447c-4.212-.069-8.465 1.673-11.262 4.869-4.23 4.606-4.845 11.985-1.55 17.274 3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249zM59.995-7.13V7.12zM45.438-.006h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zm-6.757-14.547c-4.212-.069-8.465 1.673-11.262 4.869C44.876-5.078 44.26 2.3 47.556 7.59c3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249zM-.005-7.13V7.12zM-14.562-.006h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zM.368-14.553c-4.212-.069-8.465 1.673-11.262 4.869-4.23 4.606-4.845 11.985-1.55 17.274 3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249z'  stroke-width='0.5' stroke='hsla(0, 0%, 0%, 0.58)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"), linear-gradient(to bottom, rgba(84, 129, 152, 0.8),rgba(65, 74, 96, 0.8));
       width: 100%;
    }
    .search-mag {
        margin-right: 5px;
        margin-top: 2px;
        font-size: 20px !important;
        color: white;
    }
    .deckbuilt-card-container:hover > .deck-add-minus > .pm-card {
        display: none;
    }
    .deckbuilt-card-container:hover {
        transform: none;
    }
    .bottom-menu {
        display: flex;
    }
    .deck-add-minus {
        pointer-events: none;
    }
}
@media screen and (max-width: 1160px) {
    .print-deck,
    .export-json {
        display: none;
    }
}
